html body {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(../imagens/fundoBody.png);
    background-color: #D9D9D9;
}

/* Header, botão menu e menu hamburguer*/

.header {
    background-color: black;
    background-image: url(../imagens/fundoBody.png);
}

.container {
    display: flex;
    height: 65px;
    width: 98%;
    margin: auto;
}

.container img {
    cursor: pointer;
}

.header .container {
    justify-content: space-between;
}

.titulo {
    color: yellow;
}

.navbar a,
.navbar li {
    color: #e3b062;
    text-decoration: none;
}

.botaoDuvidaDoUsuario {
    margin-right: 35px;
    margin-top: 7px;
    height: 50px;
    width: 50px;
    background-color: #FFD600;
    color: black;
    border-radius: 500px;
    cursor: pointer;
}

.botaoDuvidaDoUsuario:hover {
    background-color: #818181;
}

/*Menu Hamburger*/

.nav-button {
    border: 0;
    border-radius: 4px;
    padding: 8px;
    background-color: black;
    margin: 8px;
    cursor: pointer;
}

.nav-button i {
    color: white;
}

.overlay {
    height: 100%;
    width: 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: all 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    font-size: 34px;
    transition: 0.3s;
}

.overlay h2 {
    color: #FFD600;
    font-size: 70px;
}

.overlay a:hover,
.overlay a:focus {
    color: #FFD600;
}

.overlay .closebtn {
    position: absolute;
    top: 25px;
    right: 35px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay,
    .closebtn {
        font-size: 40px;
        top: 15px;
        left: 45px;
    }
}

/* botão voltar ao menu  */

.divBotao {
    padding-top: 5rem;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #036900  10%, #05FF00 45%, #FFD600 67%, #856f00 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    cursor: pointer;
}

#container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}

strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 12px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
}

#glow {
    position: absolute;
    display: flex;
    width: 12rem;
}

.circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}

.circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}

.btn:hover {
    transform: scale(1.1)
}

.btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

.btn:active .circle {
    background: #FE53BB;
}

#stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}

#stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
}

#stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
}

#stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
}

#stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}

@keyframes animStar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-135rem);
    }
}

@keyframes animStarRotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes gradient_301 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse_3011 {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.75);
    }
}

/* fundo cadastrar local */

.fundoCadastrarLocal {
    display: flex;
    background-image: url(../imagens/fundoDashboard.jpeg);
    width: 100%;
    background-repeat: no-repeat;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding-bottom: 12rem;
}

.tituloCadastrarLocal {
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    font-size: 50px;
    color: #FFD600;
}

.cardCadastrarLocal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: 2px solid #FFD600;
    border-radius: 23px;
    color: white;
    width: 35rem;
    height: 40rem;
    flex-direction: column;
}

.tituloDentroDoCardLocalidade {
    text-align: center;
    padding-bottom: 2.2rem;
    font-size: 30px;
}

.cardCadastrarLocal h1 {
    text-align: center;
    font-size: 30px;
}

.inputNomeLocal {
    padding-top: 0.7rem;
    border: 3px solid #FFD600;
    border-radius: 9px;
}

.inputComplementoLocal {
    padding-top: 0.7rem;
    padding-bottom: 6rem;
    border: 3px solid #FFD600;
    border-radius: 9px;
}

.tituloComplementoLocal {
    padding-top: 3rem;
}

/* fundo cadastrar farm */

.fundoCadastrarFarm {
    display: flex;
    background-image: url(../imagens/fundoDashboardFarms.jpg);
    width: 100%;
    background-repeat: no-repeat;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding-bottom: 12rem;
    align-items: center;
}

.tituloCadastrarFarm {
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    font-size: 50px;
    color: #05FF00;
}

.cardCadastrarFarm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: 2px solid #05FF00;
    border-radius: 23px;
    color: white;
    width: 35rem;
    height: 40rem;
    flex-direction: column;
}

.tituloDentroDoCardFarm {
    text-align: center;
    font-size: 30px;
}

.cardCadastrarFarm h1 {
    text-align: center;
    font-size: 30px;
}

.inputNomeFarm {
    padding-top: 0.7rem;
    border: 3px solid #05FF00;
    border-radius: 9px;
}

.inputComplementoFarm {
    padding-top: 0.7rem;
    padding-bottom: 6rem;
    border: 3px solid #05FF00;
    border-radius: 9px;
}

.tituloDataFarm {
    padding-top: 3rem;
}

.spanDasDatas {
    color: #05FF00;
    text-align: center;
}

.divsDasInputs {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.botaoAdicionarFarmELocal {
    margin-top: 5em;
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #05FF00,
        -6px -6px 12px #165100;
}

.botaoAdicionarFarmELocal::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.botaoAdicionarFarmELocal:hover::before {
    width: 9em;
}

.inputDataFarm {
    border: 3px solid #05FF00;
    border-radius: 9px;
    width: 30px;
    height: 25px;
    text-align: center;
}

.inputDataFarmAno {
    border: 3px solid #05FF00;
    border-radius: 9px;
    width: 40px;
    height: 25px;
    text-align: center;
}

.inputsDasDatas {
    display: flex;
}

.inputTipoFarm {
    padding-top: 0.7rem;
    border: 3px solid #05FF00;
    border-radius: 9px;
}

.inputQuantidadeFarm {
    padding-top: 0.7rem;
    border: 3px solid #05FF00;
    border-radius: 9px;
}

/* Footer home */

.tituloFooter {
    color: #2D607B;
    font-size: 40px;
    text-align: center;
}

.linha {
    flex-grow: 1;
    border-top: 2px solid black;
    margin-left: 15px;
    margin-right: 35px;
}

.fundoDuvida {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.fotoDuvida {
    margin-left: 4rem;   
    width: 1100px;
    height: 588px;
    position: absolute;
    display: flex;
    border: 2px solid black;
    border-radius: 8px;
}

/* Card duvida local  */

.cardDuvida {
    width: 380px;
    height: 508px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
}

.cardDuvida-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, .05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

.cardDuvida:hover {
    transform: scale(1.04) rotate(1deg);
}

.circulo {
    width: 100px;
    height: 100px;
    background: radial-gradient(#05FF00, #036900);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

.pFarm {
    padding-top: 1rem;
    text-align: center;
    color: #05FF00;
    font-size: 2rem;
}

.spanFarm {
    align-items: center;
    font-size: 36px;
}

.circulo:nth-child(1) {
    top: -25px;
    left: -25px;
}

.circulo:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
}

@keyframes move-up6 {
    to {
        transform: translateY(-10px);
    }
}

@keyframes move-down1 {
    to {
        transform: translateY(10px);
    }
}

/* Card duvida farm  */

.cardDuvida2 {
    width: 380px;
    height: 508px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
}

.cardDuvida-inner2 {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, .05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

.cardDuvida2:hover {
    transform: scale(1.04) rotate(1deg);
}

.circulo2 {
    width: 100px;
    height: 100px;
    background: radial-gradient(#FFD600, #856f00);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

.pLocal {
    padding-top: 1rem;
    text-align: center;
    color: #FFD600;
    font-size: 2rem;
}

.spanLocal {
    align-items: center;
    font-size: 36px;
}

.circulo2:nth-child(1) {
    bottom: -25px;
    right: -25px;
    
}

.circulo2:nth-child(2) {
    top: -25px;
    left: -25px;
    animation-name: move-down1;
}

@keyframes move-up6 {
    to {
        transform: translateY(10px);
    }
}

@keyframes move-down1 {
    to {
        transform: translateY(-10px);
    }
}